@model SuperNews.Models.NewsViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <h5>@Html.DisplayFor(model => model.CreationDate)</h5>
    <hr />
    <div class="details_info">
           
      @*  <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rubric)
        </dd>   *@

        <div class="detail_img">
            <img class="img_deta"
                 src="~/NewsImages/@Model.ImageUrl" />
        </div>
        <div class="detail_description">
            @Html.DisplayFor(model => model.Description)
        </div>     
      
    </div>
</div>
<div>
    @*<span class="btn btn-outline-info">@Html.ActionLink("Edit", "Edit", new {  id = Model.NewsId }) </span> |*@
    <a class="btn btn-info" asp-action="List">Вернуться к новостям</a>
</div>

